body {
    font-family: Arial, sans-serif;
    background-color: #181B24;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #14161D;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 87px;
    width: 87px;
    margin-right: 10px;
}

.hyperlinks {
    display: flex;
    gap: 60px;
    margin-right: 20px;
    font-size: 32px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
    text-align: center;
}

.main-content {
    max-width: 600px;
    margin-right: 50px;
}

.main-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 50px;
}

.app-links a {
    margin: 0 10px;
}

.app-links img {
    height: 50px;
    margin-left: 50px;
}

.main-logo img {
    height: 514px;
    width: 514px;
    margin-right: 50px;
}

footer {
    background-color: #14161D;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 20px;
}
