body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post {
    background-color: #242424;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: auto;
}

.footer {
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  
}

.icon {
    width: 20px;
    height: 20px;
}

.description {
    font-size: 14px;
}
